<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Configuration</comment>
<entry key="ImagePath">C:\Users\neil\Pictures\Affiche\714ZjXOFCHL._AC_SL1000_.jpg</entry>
<entry key="Link">C:\Users\neil\Pictures\Affiche</entry>
</properties>
